<html>
<head>
    <title>AntiBot</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEXRF3P5YS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VEXRF3P5YS');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noarchive">
</head>

<body>
    <main>
        <div style="text-align:center" class="cf-turnstile" data-sitekey="0x4AAAAAAANQlYeKN7b5lSvO" data-callback="verify"></div>
    </main>
</body>

<script>
    function verify(token) {
        fetch("/complete_verify", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                key: "{{key}}",
                token: token
            })
        });
    }
</script>

</html>